.banner {
    /* background-color: rgb(105, 166, 158); */
    display: flex;
    justify-content: space-between; /* Distribute space between items */
    align-items: center;
    width: 100%;
    position: relative; /* Ensure the banner is the reference for absolute positioning */
    max-width: 1370px;
}

.banner-outer {
    background-color: rgb(105, 166, 158);
    display: flex;
    justify-content: center;
}

.icons {
    display: flex;
    gap: 5px;
    position: absolute;
    right: 0; /* Position the icons to the far right */
    margin-right: 15px; /* Optional: Add some margin from the right edge */
    margin-top: 5px;
    
}

.banner-img {
    width: 23px;
    height: 23px;
    margin: 10px;
    filter: invert(1);
    transition: transform 0.2s;
}

.banner-img:hover {
    transform: scale(1.04);
}

.banner .text {
    display: flex;
    align-items: center;
}

.banner .text p {
    margin: 0px;
    margin-right: 21px;
}

/* @media (max-width: 600px) {
    .banner .icons {
        display: none;
    }
    .banner .text {
        text-align: center;
        width: 100%;
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .banner .text p {
        margin-right: 0;
        
    }
} */

.phone-info {
    display: flex;
    align-items: center; /* Vertically align items */
    /* background-color: blue; */
    color: white;
}