.navbar {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    z-index: 5;
  }
  
  .toggle-button {
    position: absolute;
    top: 0.93rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
  }
  
  .toggle-button .bar {
    height: 3px;
    width: 100%;
    transition: all 0.3s ease;
  }
  
  .toggle-button.open .bar:nth-child(1) {
    transform: rotate(45deg) translate(4px, 10px);
  }
  
  .toggle-button.open .bar:nth-child(2) {
    opacity: 0;
  }
  
  .toggle-button.open .bar:nth-child(3) {
    transform: rotate(-45deg) translate(3px, -8.5px);
  }
  
  .website-links {
    height: 100%;
    color: red;
  }
  
  .website-links ul {
    margin: 0;
    padding: 0;
  }
  
  @media (max-width: 800px) {
    .navbar {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .toggle-button {
      display: flex;
    }
  
    .website-links {
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.3s ease-out;
      width: 100%;
    }
  
    .website-links ul {
      width: 100%;
      flex-direction: column;
    }
  
    .website-links.active {
      max-height: 500px;
    }
  }


  

  

  